.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 30px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 20px 20px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 550;
  line-height: 20px;
  text-align: left;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  row-gap: 16px;
}

.modal__submit {
  position: absolute;
  top: 300px;
  left: 10px;
  background-color: #0000004d;
  color: #fff;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  border: none;
}

.modal__input {
  display: block;
  width: 440px;
  height: 24px;
  margin-top: 2px;
  border-bottom: 1px solid #000;
  border-left: none;
  border-right: none;
  border-top: none;
}

.modal__radio-buttons {
  border: none;
  padding: 8px 0px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-bottom: 20px;
}

.modal__close-btn {
  background-color: #fff;
  overflow: hidden;
  width: 16px;
  height: 16px;
}
