.card {
  position: relative;
  max-width: 323px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  font-family: Cabinet Grotesk, sans-serif;
  color: #fff;
  background-color: #0000008d;
  margin: 20px;
  padding: 2px 12px 2px 12px;
  border-radius: 5%;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px 2px 12px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  color: grey;
  font-weight: 500;
  font-size: 12px;
  background-color: #fff;
  align-items: center;
}
.card__heart {
  position: absolute;
  top: 15px;
  right: 5px;
  margin: 0;
  padding: 2px 12px 2px 12px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  align-items: center;
}

.card__image {
  width: 100%;
  border: 1px #000;
  border-radius: 19px;
}
