.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 32px 0px 28px;
  font-family: "Inter Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  border-bottom: 1px solid red;
  color: #000;
}

.header__logo {
  display: flex;
  margin-right: 24px;
  text-decoration: none;
  flex-grow: 1;
  color: #000;
}

.header__logo:hover {
  color: #82590c;
}

.header__logo-icon {
  margin: 4px;
}
.header__logo-icon:hover {
  background-color: #82590c;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.header__about {
  align-self: flex-start;
  margin-right: 24px;
  text-decoration: none;
  flex-grow: 1;
  color: #000;
}

.header__about:hover {
  color: #82590c;
}

.header__date-and-location {
  margin: 0;
  text-align: left;
  text-decoration: none;
  flex-grow: 1;
}

.header__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-right: 50px;
}

.header__add-resource-btn {
  border: none;
  white-space: nowrap;
  margin-left: 10px;
  background: none;
  font-weight: bold;
  margin-left: 50px;
}
.header__add-resource-btn:hover {
  color: #82590c;
}

.header__link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.header__username {
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  margin-left: 50px;
}
.header__username:hover {
  color: #82590c;
}

.header__avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.header__sign-up {
  border: none;
  white-space: nowrap;
  background: none;
  font-weight: bold;
}

.header__sign-up:hover {
  color: #82590c;
}

.header__log-in {
  border: none;
  white-space: nowrap;
  background: none;
  font-weight: bold;
}

.header__log-in:hover {
  color: #82590c;
}
