.header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 32px 0px 28px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  border-bottom: 1px solid red;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 550;
  line-height: 24px;
  text-align: left;
}

.header__add-clothes-btn {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 500px;
  top: -20px;
  border: none;
}
.header__link {
  text-decoration: none;
  color: #000;
}

.header__user-container {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__username {
  margin: 0;
}

.header__nav {
  position: relative;
  display: flex;
}

.header__avatar {
  visibility: hidden;
  align-items: end;
}

.header__sign-up {
  position: absolute;
  left: 470px;
  top: -15px;
  text-wrap: none;
  border: none;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 550;
  line-height: 24px;
  white-space: nowrap;
}

.header__log-in {
  position: absolute;
  left: 550px;
  top: -15px;
  border: none;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 550;
  line-height: 24px;
  white-space: nowrap;

  /* margin: 0px;
  padding: 0px; */
}
