.header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 32px 0px 28px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  border-bottom: 1px solid red;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 550;
  line-height: 24px;
  text-align: left;
}

.header__nav {
  position: relative;
  /* display: flex; */
}

.header__add-clothes-btn {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 510px;
  top: -10px;
  border: none;
  text-wrap: none;
  white-space: nowrap;
  text-align: center;
}

.header__link {
  margin: 0px;
  padding: 0px;
  position: absolute;
  color: #000;
  font-weight: normal;
  text-decoration: none;
}

.header__user-container {
  position: relative;
  display: flex;
  /* left: 350px;
  top: -15px; */
  align-items: center;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.header__username {
  position: absolute;
  margin: 0;
  padding: 0;
}

.header__avatar {
  /* visibility: hidden; */
  position: absolute;
  align-items: end;
  scale: calc(7%);
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.header__sign-up {
  position: absolute;
  left: 523px;
  top: -15px;
  border: none;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 18px;
  font-weight: 550;
  line-height: 24px;
  white-space: nowrap;
}

.header__log-in {
  position: absolute;
  left: 600px;
  top: -15px;
  border: none;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 18px;
  font-weight: 550;
  line-height: 24px;
  white-space: nowrap;
}
