.sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  /* gap: 10px; */
  width: 229px;
  height: 56px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.sidebar__avatar {
  scale: calc(7%);
  border-radius: 50%;
  position: absolute;
  left: -26vw;
  top: -47vh;

  /* for Gios' to fit well, use
  left: -350px;
  top: -350px; 
  OR
   left: -28vw;
  top: -48vh;
  
  */

  /* for Kubra's to fit well, use
  left: -320px;
  top: -315px; 
  OR
  left: -25vw;
  top: -44vh;
  
  */
}

.sidebar__username {
  height: 15px;
  position: absolute;
  left: 85px;
  top: 10px;
}

.sidebar__profile-edit-btn {
  border: none;
  position: absolute;
  left: 10px;
  top: 90px;
}

.sidebar__logout {
  border: none;
  position: absolute;
  left: 10px;
  top: 120px;
}
