.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.sidebar__avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.sidebar__header {
  display: flex;
  align-items: center;
}

.sidebar__username {
  margin-left: 10px;
  white-space: nowrap;
}

.sidebar__profile-edit-btn {
  border: none;
  margin-top: 10px;
}

.sidebar__logout {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 10px;
}
