.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  width: 229px;
  height: 56px;
}

.sidebar__username {
  height: 25px;
}

.sidebar__profile-edit-btn {
  border: none;
}

.sidebar__logout {
  border: none;
}
