.footer {
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.footer__content {
  display: flex;
  position: absolute;
  justify-content: space-between;
}
.footer__content-name {
  position: relative;
  top: 14vh;
  left: -3vw;
  list-style-type: none;
  text-align: left;
}

.footer__content-year {
  position: relative;
  top: 14vh;
  left: 68vw;
  list-style-type: none;
  text-align: right;
}
