.register__button-container {
  position: relative;
}

.register__logIn {
  position: absolute;
  top: 385px;
  right: 300px;
  border: none;
  background: none;
}

.register__logIn-link {
  text-decoration: none;
}
